<div class="card">
  {{!-- <div class="card-body"> --}}
    <h3 class="card-title">
      {{#if postId}}
      <a href="/posts/{{ postId }}">{{ title }} {{format_date createdAt}}</a>
      {{else}}
      {{ title }}
      {{/if}}
    </h3>