

    <div class="post-list">
    <h3 class="card-list">

      {{#if postId}}
      <a href="/posts/{{ postId }}"><span class="list-title">{{ title }}</span><span class="list-date">{{format_date createdAt}}</span></a>
      {{else}}
      {{ title }}
      {{/if}}
   </h3>
  <button class="btn btn-primary delete-button" data-id={{postId}} >Delete</button>
    <button onClick='window.location.replace("/edit/" + {{postId}} )' class="btn btn-primary edit-button" data-id={{postId}} >Edit</button>

    </div>
