

    <div class="post-list">
    <h3 class="card-list">

      {{#if postId}}
      <a href="/posts/{{ postId }}"><span class="list-title">{{ title }}</span><span class="list-date">{{format_date createdAt}}</span></a>
      {{else}}
      {{ title }}
      {{/if}}
   </h3>
    </div>
