<div class="menu-container" align="center">
  <div class="menu-container" align="center">
    <h2 class="bg-success"> {{blog.user.username}}'s Tech Blog Post</h2>
    <br />

    <div class="gallery-name blog-size">
      <header style="display: flex; justify-content: space-between">
        <h4>{{blog.blog_title}}</h4>
        <span>Created by
          {{blog.user.username}}&nbsp;on&nbsp;{{format_date blog.createdAt}}</span>
      </header>
      <section>{{blog.blog_description}}</section>
    </div>
    <br />
  </div>
</div>