<div class="menu-container" align="center">
  <div class="menu-container" align="center">
    <h2 class="bg-success">
      Everyone's Tech Blog</h2>
    <br />
    {{#each blogPosts as |post|}}
      <div class="gallery-name blog-size">
        <header style="display: flex; justify-content: space-between">
          <h4><a
              href="/api/blogs/{{post.id}}"
            >{{post.blog_title}}</a></h4>
          <span>Created by
            {{post.user.username}}&nbsp;on&nbsp;{{format_date
              post.createdAt
            }}</span>
        </header>
        <section>{{post.blog_description}}</section>
      </div>
      <br />
    {{/each}}

  </div>
</div>

<!-- This is the form for retrieving saved logs -->
{{! <script src='/js/addBlog.js'></script> }}